/target
**/*.rs.bk
.env
.idea/
.vscode/
*.pdb
generated/

# SDK
node_modules/
dist/
.env*

# Coverage reports
coverage/
*.profraw

.DS_Store

# Make test files
.validator.pid
.kora.pid
test-ledger/
.local/

# Docs
sdks/ts/docs-html/
sdks/ts/docs-md/