[kora]
rate_limit = 100

[validation]
max_allowed_lamports = 10000000
max_signatures = 10
price_source = "Mock"
allowed_programs = [
    "11111111111111111111111111111111",  # System Program
    "TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA",  # Token Program
    "ATokenGPvbdGVxr1b2hvZbsiqW5xWH25efTNsLJA8knL",
    "3CFG1eVGpUVAxMeuFnNw7CbBA1GQ746eQDdMWPoFTAD8", # Smart-wallet program
    "Secp256r1SigVerify1111111111111111111111111", # Raydium AMM program
]
allowed_tokens = [
    "4zMMC9srt5Ri5X14GAgXhaHii3GnPAEERYPJgZJDncDU",  # USDC devnet
]
allowed_spl_paid_tokens = [
    "4zMMC9srt5Ri5X14GAgXhaHii3GnPAEERYPJgZJDncDU",  # USDC devnet
]
disallowed_accounts = []